keys/
local_copies/
log/
remote_copies/
test/local_copies/
test/log/
test/misc/
test/temp/
!keys/.gitplaceholder
!local_copies/.gitplaceholder
!log/.gitplaceholder
!remote_copies/.gitplaceholder
!test/local_copies/.gitplaceholder
!test/log/.gitplaceholder
!test/misc/*.rb
!test/temp/.gitplaceholder

config.yml
test/fixtures/config.test.yml

