env:
    # Encrypt the archive.
    encrypt: True
    # Password for encyrpting the arhive. For better security, leave blank and enter
    # it in at the prompt when running the program.
    archive_password: <password>
  
server:
  # Label for the server (required).
  name: <test server name>
  # Connection type.
  type: <scp | sftp | ftp>
  # IP address of the remote server (required).
  ip: <ip address>
  # Port to connect on the remote server (optional).
  port: <port number>
  # Username (required).
  username: <username>
  # Password (required for FTP, optional for scp/sftp).
  password: <password>
  # Seperate logfile for network connections / transfers as transfer.log.
  seperate_logfile: true
  # Destination folder (required).
  dest_folder: <path to destination folder>
  # Timeout for server connection in seconds.
  timeout: 30
  
  # Options for ssh, scp and sftp connections.
  ssh_options:
    # OpenSSH private key (required for SFTP and SCP).
    # Path is relative to the root directory.
    private_key: keys/dev
  
  # Options for ftp connections.
  ftp_options:
    # Passive or Active FTP mode (required).
    passive: false
  
# List of backup jobs to process.
tasks:
    # Name of the task.
  - name: 'Test Task 1'
    # Backup interval in seconds.
    interval: 15
    # Keep a local copy of the backup.
    local_copy: False
    # Paths (files and directories) to backup.
    paths:
      - <path to folder>
    # Name of the task.
  - name: 'Test Task 2'
    # Backup interval in seconds.
    interval: 30
    # Keep a local copy of the backup.
    local_copy: False
    # Paths (files and directories) to backup.
    paths:
      - <path to folder>
